.search{
    width: 100%;

    .search-container{
        width: 16%;
        margin: 20px auto 0;
        .input-search{
            display: flex;
            flex-direction: column;

            input[type="text"]{
                border: none;
                padding: 0px 5px;
                font-size: 2rem;
                font-family: $font1;
                text-align: center;
                outline: none;
                border-radius: 10px 10px 0 0;
            }
            input[type="submit"]{
                background: $color1;
                border: none;
                padding: 0px 5px;
                font-size: 2rem;
                font-family: $font1;
                text-align: center;
                outline: none;
                border-radius: 0 0 10px 10px;
                color: white;
                cursor: pointer;

                &:hover{
                    filter: brightness(0.9);
                }
            }
        }
        .rank{
            display: flex;
            margin-top: 10px;
            width: 100%;
            button{
                width: 50%;
                border: none;
                padding: 5px 0;

                &:nth-child(1){
                    border-radius: 5px 0 0 5px;
                    transition: 0.25s ease-in;

                    &:hover{
                        transform: translateY(-1px);
                        filter: brightness(0.9);
                    }
                }
                &:nth-child(2){
                    border-radius:  0  5px 5px 0;
                    transition: 0.25s ease-in;

                    &:hover{
                        transform: translateY(1px);
                        filter: brightness(0.9);
                    }
                }
            }
        }
    }
    .cards-container{
        width: 100%;
        margin-top: 50px;
        ul{
            padding: 0 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}